@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');


/* Changing colours and fonts to match branding */
body{
  background-color:#14213D;
}

.header{
  background-color:white;
}

.navbar-light{
  color: #14213D;
}

.mainbody {
  background-color:white;
}

h1{
  color: #14213D;
  font-family: 'Cinzel', serif;
  font-weight: 800;
  font-style: normal;
}

h3{
  color: #14213D;
  font-family: 'Cinzel', serif;
  font-weight: 600;
  font-style: normal;
}

h4{
  color: #14213D;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: #14213D;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
  width: 100%;
  height: auto;
}

 /* custom sizing for logo */
.logomesh{
  height: 3em;
  width: auto;
}

  /* custom navbar link color for branding */
nav .navbar-nav li a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* not ideal, but using !important because Bootstrap seems incapable of the simple task of recolouring links inside a nav bar */
  color:#14213D !important;
}

  /* formatting the contact form */
   /* custom color for send button */
.btn-primary{
  background-color:#fca311;
  border-color: #14213D;
}

    /* changing form label text */
form label{
  color:#14213D;
}

    /* changing form border colours */
.form-control{
  border-color:#fca311;
  width: 100%;
}

/* Styles for footer */

  /* text to the left */
.foottext {
  color: #fca311;
  font-size: .75em;
  line-height: 0;
  white-space: nowrap;
}

  /* social media icons to the right */
.fb{
  max-height: 4em;
  width: auto;
}

.insta{
  max-height: 3.75em;
  width: auto;
}

.footcont{
  background-color:#14213D;
}

/* Tablet styles */

@media screen and (min-width: 728px){
  
  /* Changing font-size for better spacing past md breakpoint */
  .indexh1 {
    font-size: 1.5rem;
  }

}