/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  color: #ffdf61;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***--------------------------
       Custom Styles
--------------------------***/

  /* Setting font structure to ensure websafe  */
html{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

  /* Adding some height to body to work with white space feel */
body {
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited 
a:active {
  text-decoration: none;
  color: blue;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 5.063rem;
  margin: 0.5em 0 0.5em;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
  margin: 0.2em 0em 0em 0em;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin: 1em 0;
}

button{
  border: none;
  background: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

/**** -----------------------
        MOBILE STYLES
------------------------- ****/

/*** ----------- Header (Mobile) ----------- ***/

  /* setting header border along bottom to divide areas, header bleeds to edges */
.site-header{
  border-bottom: #B320A9;
  border-style: solid;
  background-color: white;
  width: 100%;
  padding: 2%;
  border-bottom-width: 1px;
}

  /* Using hovertrans animation property in order to use translation elsewhere if desired */
@keyframes hovtrans {
  50% {
      transform: translate(0, -10px);}
  }

  /* using flex for nav, simplest display for responsiveness as per mockup */
nav{
  display: flex;
  justify-content: space-around; 
}

  /* setting styles for nav items as per mockup */
.nav-link{
  border-color: #B320A9;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-size: 70%;
  font-weight: bolder;
  color: #b320A9;
  width: 20%;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

  /* recolouring links to match swatches */
nav a,
nav a:link,
nav a:visited 
nav a:active {
  text-decoration: none;
  color: #B320A9;
}

  /* making the NAV elements translate with slight duration on hover */
  nav a:hover {
    animation-name: hovtrans;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  /* making the NAV elements change colour when active */
nav a:active {
  background: #ffdf61;

}

/*** ----------- Main (Mobile) ----------- ***/

  /* no bleed for main */
main{
  margin: 0 15% 0 15%;
}

  /* sizing optimized image */
#frontpic{
  width: 100%;
}

  /* creating and styling shadowed box for menu items */
.cpmenu div{
  padding: 4% 4% 4% 4%;
  margin: 5% 0%;
  border-radius: 25px;
  box-shadow: 5px 5px 25px 2px grey;
  border-color: #B320A9;
  border-style: solid;
  border-width: 1px;
}


 /* centering page title */
.cpmenu h1{
  text-align: center;
}

 /* aligning and colouring sub-headings */
.cpmenu h4{
  color: #b320A9;
  text-align: center;
}

  /* aligning item titles to the centre beside prices */
  /* using secondary colour from swatches for hierarchy effect */
.cpmenu h5{
  color: #FF47F3;
  text-align: right;
}

 /* aligning prices with item titles */
.cpmenu p{
  line-height: 2rem;
}

  /* sizing and aligning item pictures */
.cpmenu img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 1em;
  padding-bottom: 1em;
}

  /* using grid to align cakepop items */
.cptxt{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 
  "mt mt"
  "mp mp"
  "mar1 mar2"
  "cd1 cd2"
  ;
}

  /* spanning menu item titles */
.cptxt h4{
  grid-area: mt;
}

  /* spanning cakepop picture */
.cptxt img{
  grid-area: mp;
}

  /* using nth-child to distinguish menu items */
.cptext :nth-child(3){
  grid-area: mar1;
}

.cptxt :nth-child(4){
  grid-area: mar2;
}

.cptxt :nth-child(5){
  grid-area: cd1;
}

.cptxt :nth-child(6){
  grid-area: cd2;
}


 /* using grid to align bread items */
.bread{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 
  "bmt bmt"
  "bmp bmp"
  "sd1 sd2"
  "wb1 wb2"
  ;
}

  /* spanning bread title */
.bread h4{
  grid-area: bmt;
}

  /* spanning bread picture */
.bread img{
  grid-area: bmp;
}

  /* using nth-child to distinguish menu items */
.bread :nth-child(3){
  grid-area: sd1;
}

.bread :nth-child(4){
  grid-area: sd2;
}

.bread :nth-child(5){
  grid-area: wb1;
}

.bread :nth-child(6){
  grid-area: wb2;
}

  /* using flex for icons, simplest display for responsiveness as per mockup */
.icons{
  display:flex;
  flex-direction: column;
  align-items: center;
}

/*** ----------- Footer (Mobile) ----------- ***/

  /* styling footer across all pages */
.site-footer{
  background-color: #b320A9;
  padding: 1% 2% .5% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /* adjusting spacing of address */
footer li{
  line-height: 1;
}

/**** -----------------------
        TABLET STYLES
------------------------- ****/

@media screen and (min-width: 760px){
  
  /*** ----------- Header (Tablet) ----------- ***/
  
    /* Changing margin and justification of flex items for better layout */
  nav{
    margin: 0 17% 0 13%;
    justify-content: space-between; 
  }
  
    /* Setting NAV font for larger screen */
  .nav-link{
    font-size: 100%;
  }

  /*** ----------- Main (Tablet) ----------- ***/

    /* resizing to match responsive design */
  .cpmenu h4{
    font-size: 3.375rem;
  }
  
    /* resizing to match responsive design */
  .cpmenu h5{
    font-size: 2.25rem;
  }

    /* changing display for icons to grid and ordering according to mockup */
  .icons{
    display: flex;
    flex-direction: row;

}
/**** -----------------------
        DESKTOP STYLES
------------------------- ****/

@media screen and (min-width: 1150px){

  /*** ----------- Main (Desktop) ----------- ***/

    /* resizing and positioning to match responsive design */
  .nav-link{
    font-size: 150%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 20px;
  }

    /* using flex to align horizontally simply */
  .icons{
    display:flex;
    flex-direction: row;

  }
} 
}