/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------
          Custom Styles
-------------------------------- */

html{
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  width: 100%;
}

a,
a:link,
a:visited 
a:active {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 5.063rem;
  color: white;
  margin: 0.5em 0 0.5em;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
  margin: 0.2em 0em 0em 0em;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin: 1em 0;
}

button{
  border: none;
  background: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

/* -----------------------
    Header
------------------------- */

/* ----------- Header (Mobile) ----------- */

@media screen and (max-width: 760px) {

  .nav {
    background-color: #222;
  }

  .logo {
    width: 120px;
    background-color: #c78c06;
    float: left;
  }

  .nav-list {
    color: #c78c06;
    text-decoration: none;
    font-size: large;
  }

  .nav-list li {
    height: 3em;
    padding-top: 20px;
    text-align: center;
  }

  .nav-list li:first-child {
    background-color: #c78c06;
    color: #222;
    height: 3em;
    padding-top: 150px;
  }

  .search{
    display: flex;
  }

  input[name=search] {
    width: 83%;
    vertical-align: top;
    font-size: large;
    padding: 1% 1% 1% 1%;
  }

  .im-magnifier {
    display: inline-block;
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    font-size: x-large;
    text-align: center;
    padding: 22%;
    vertical-align: bottom;
  }

  .headpic {
    width: 100%;
    background: grey url("../images/main-banner.jpg") no-repeat center bottom;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 150px;
    border-top: 0;
  }

  .shade {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 0;
  }

  .connect-with {
    background: #c78c06;
    text-decoration: black;
    padding: 1em 1em 1em 1em;
    width: 9em;
    font-size: x-large;
  }

  .headpic p {
    color: white;
  }
}

/* ----------- Header (Desktop) ----------- */

@media screen and (min-width:760px) {
 
  .masthead {
    background-color: #222;
  }

/* Nav Bar (Desktop) */
  .nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    background-color: #222;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;   
  }
    
  .logo {
    width: 10%;
    background-color: #222;
    display: inline-block;
  }


  .nav-list a,
  .nav-list a:link,
  .nav-list a:visited {
    color: #c78c06;
    text-decoration: none;
    font-size: small;
    margin: 2px;
  }
    
  .nav-list a:hover,
  .nav-list a:focus,
  .nav-list a.current {
    background-color: #c78c06;
    color: #222;
    margin: 2px;
  }
  
  .nav-list li {
    padding: 1px 1px 1px 1px;
    float: left;
  }
  
  .nav-list li :last-child {
    padding: 1em 1em 1em 1em;
  }

  @media screen and (min-width:900px) {
    .nav-list li {
      padding: 1px 8px 1px 8px;
    }
  }

  @media screen and (min-width:1050px) {
    .nav-list li {
      padding: 1px 25px 1px 25px;
    }
  }

  .search {
    display: flex;
  }
    
  input[name=search] {
    vertical-align: top;
    font-size: medium;
    padding: 10px 0px 7px 0px;
  }

  .im-magnifier {
    display: inline-block;
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    font-size: x-large;
    text-align: center;
    padding: 7px 7px;
    vertical-align: bottom;
    
  }

/* Head Pic (Desktop) */

  .headpic {
    width: 100%;
    background: grey url("../images/main-banner.jpg") no-repeat center bottom;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1em;
    padding-right: 1em;
    border-top: 0;
  }
    
  .shade {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }
    
  .connect-with {
    background: #c78c06;
    color: black;
    padding: 1em 1em 1em 1em;
    width: 9em;
    font-size: x-large;
    margin: 20px;
  }
    
  .headpic h1 {
    padding-left: 20px;
  }
  .headpic p {
  color: white;
  padding-left: 20px;
  }
}

/* -----------------------
    About Us
------------------------- */

/* ----------- About us (Mobile) ----------- */

.about-us {
  background: #ffe6ac;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  "topab"
  "copyab"
  ;
}

.about-pic {
  grid-area: topab;
  display: inline-block;
  align-self: center;
}

.about-text {
  grid-area: copyab;
}

/* ----------- About us (Desktop) ----------- */

@media screen and (min-width:760px) {
  
  .deskabout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0em 1em 0em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "da1 da2"
    ;
  }

  .about-pic {
    grid-area: da1;
    vertical-align: middle;
  }

  .about-text {
    grid-area: da2;
  }

  .about-text p {
    margin-top: 0;
  }
}

/* -----------------------
    Services
------------------------- */

/* ----------- Services (Mobile) ----------- */

.services {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: 
  "topser"
  "digtranmob"
  "markmob"
  "vidprodmob"
  "webdevmob"
  "printmob"
  ;
  grid-row-gap: 1em;
}

.serviceshead {
  grid-area: topser;
  margin: 2em 0em 1em 0em;
}

/* digital transformation */
.digital-trans {
  grid-area: digtranmob;
  background: #ffe6ac;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}

.digital-plans {
  display: inline-block;
  background: #222;
  color: white;
  padding: 1em 1em 1em 1em;
  width: 9em;
  font-size: x-large;
}

/* marketing */
.marketing {
  grid-area: markmob;
  background: #ffe6ac;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.marketing-plans {
  display: inline-block;
  background: #222;
  color: white;
  padding: 1em 1em 1em 1em;
  font-size: x-large;
  align-items:center;
}

/* video */
.video {
  grid-area: vidprodmob;
  background: #ffe6ac;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}
 
.video-plans {
  display: inline-block;
  background: #222;
  color: white;
  padding: 1em 1em 1em 1em;
  width: 9em;
  font-size: x-large;
 }

 /* web development */
 .web {
  grid-area: webdevmob;
  background: #ffe6ac;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}
 
.web-plans {
  display: inline-block;
  background: #222;
  color: white;
  padding: 1em 1em 1em 1em;
  width: 9em;
  font-size: x-large;
 }

  @media screen and (min-width:760px) and (max-width: 900px) {
    .web h3{
      font-size: x-large;
    }
  }

 /* print */
 .print {
  grid-area: printmob;
  background: #ffe6ac;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
}

 .print-plans {
  display: inline-block;
  background: #222;
  color: white;
  padding: 1em 1em 1em 1em;
  width: 9em;
  font-size: x-large;
 }

/* ----------- Services (Desktop) ----------- */

@media screen and (min-width:760px) {

  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6.5em auto auto;
    grid-template-areas: 
    "topser topser topser topser topser topser"
    "digtranmob digtranmob digtranmob markmob markmob markmob"
    "vidprodmob vidprodmob webdevmob webdevmob printmob printmob"
    ;    
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }

  .services a {
    justify-self: center;
    align-content: baseline;
    width: 100%;
    padding: 1em 0em 1em 0em;
    text-align: center;
    
  }

  .services p {
    font-size: small;
  }
}

/* -----------------------
    Vision
------------------------- */

/* ----------- Our Vision (Mobile) ----------- */

 .vision-text {
  background: grey url("../images/vision.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.visionbut {
  display: inline-block;
  color: white;
  background: #222;
  padding: 1em 1em 1em 1em;
  width: 9em;
  font-size: x-large;
  border: 1px solid #c78c06;
}


/* ----------- Our Vision (Desktop) ----------- */

@media screen and (min-width:760px) {
  
  .vision {
    background: url("../images/vision.jpg") no-repeat center center;
    background-size: cover;
  }

  .vision-text {
    background: none;
    color: white;
  }

}

/* -----------------------
    Team
------------------------- */

/* ----------- Our Team (Mobile) ----------- */

.team {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  "topteam"
  "john-pic" 
  "CEOmob"
  "bob-pic"
  "CFOmob"
  ;
  
 }

.teamhead {
  grid-area: topteam;
  margin: 2em 0em 1em 0em;
  padding-bottom: 1em;
}

.johntext {
  grid-area: CEOmob;
  background: #ffe6ac;
  display: flex;
  flex-direction: column;
  margin: 0 0 1em 0;
  padding: 0em 1em 1em 1em;

}

.johntext h5 {
  border-bottom: 3px solid #c78c06;
}

.bobtext {
  grid-area: CFOmob;
  margin: 0 auto;
  padding: 0em 1em 1em 1em;
  background: #ffe6ac;
  display: flex;
  flex-direction: column;
}

.bobtext h5 {
  border-bottom: 3px solid #c78c06;
}

/* ----------- Our Team (Desktop) ----------- */

@media screen and (min-width:760px) {
  .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8em 1fr 1fr;
    grid-template-areas:
    "topteam topteam" 
    "CEOdes1 CEOdes2"
    "CFOdes2 CFOdes1"
    ;
    gap: 0;
  }

  .teamhead {
    grid-area: topteam;
  }


  .john-pic {
  grid-area: CEOdes1;
  }

  .johntext {
    grid-area: CEOdes2;
    margin: 0 auto;
    padding: 0em 1em 1em 1em;
    background: #ffe6ac;
    display: flex;
    flex-direction: column;
  }

  .bob-pic {
    grid-area: CFOdes1;
  }

  .bobtext {
    grid-area: CFOdes2;
    margin: 0 auto;
    padding: 0em 1em 1em 1em;
    background: #ffe6ac;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 860px){
    .team p{
      font-size: small;
    }
  }
}

/* -----------------------
    Contact Us
------------------------- */

/* ----------- Contact Us (Mobile) ----------- */

.contact {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "contheadmob"
  "messmob"
  "hoursmob"
  "locmob"
  ;
}

.ContactUs {
  grid-area: contheadmob;
  margin: 2em 0em 0em 0em;
}

/* Send Message */
.Send {
  grid-area: messmob; 
}

input[id="name"] {
  width: 98%;
  height: 2em;
  margin-bottom: .5em;
}

input[id="email"] {
  width: 98%;
  height: 2em;
  margin-bottom: .5em;
}

textarea {
  width: 98%;
  margin-bottom: 1em;
  padding-bottom: 7em;
}

button[type=button] {
  font-size: large;
  background-color: #222;
  color: #c78c06;
}

/* Hours */
.hours {
  grid-area: hoursmob;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "htmob htmob"
  "dmob1 hmob1"
  "mfmob1 mfmob2"
  "ssmob1 ssmob2"
  ;
  
}

.hours h3 {
  grid-area: htmob;
  margin: .5em 0em 0em 0em;
  padding-bottom: .25em;
}

.days1 {
  grid-area: dmob1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  background-color: #ffe6ac;
}

.hours1 {
  grid-area: hmob1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: #ffe6ac;
}

.days2 {
  grid-area: mfmob1;
  display: flex;
  align-items: center;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  padding-left: 1em;
}

.hours2 {
  grid-area: mfmob2;
  display: flex;
  align-items: center;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  padding-left: 1em;
}

.days3 {
  grid-area: ssmob1;
  display: flex;
  align-items: center;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  padding-left: 1em;
}

.hours3 {
  grid-area: ssmob2;
  display: flex;
  align-items: center;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  padding-left: 1em;
}

/* Location */
.location {
  grid-area: locmob;
}
.map{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* ----------- Contact Us (Desktop) ----------- */

@media screen and (min-width:760px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6em 1fr 1fr;
    grid-template-areas:
    "topcon topcon" 
    "messdes locdes"
    "hourdes hourdes"
    ;
    gap: 1em;
  }

  .ContactUs{
    grid-area: topcon;
  }

  .Send {
    grid-area: messdes;
  }

  .location {
    grid-area: locdes;
  }

  .location .map{
    height: 55px;
  }

  .hours{
    grid-area: hourdes;
  }
}

/* ----------- Footer ----------- */

.site-footer {
  background-color: #222;
  color: #c78c06;
}