/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***--------------------------
       Custom Styles
--------------------------***/

html{
  font-family: 'Montserrat', sans-serif;
  color: #333131;
}

body {
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  width: 100%;
}

a,
a:link,
a:visited 
a:active {
  text-decoration: none;
  color: #ff8480;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 5.063rem;
  margin: 0.5em 0 0.5em;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
  margin: 0.2em 0em 0em 0em;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin: 1em 0;
}

button{
  border: none;
  background: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

/**** -----------------------
        MOBILE STYLES
------------------------- ****/

/*** ----------- Header (Mobile) ----------- ***/

    /* using % for responsive design */
.logo {
  width: 33%;
  margin: 0 5% 0 5%;
}

/*** ----------- Main (Mobile) ----------- ***/

    /* setting margin which will be standard L/R */
.bodytext{
  margin: 0 5% 0 5%;
}


    /* Note: I prefer using header and para tags to control sizes for easier changes across the page */
.bodytext h1{
  font-weight: bolder;
}

.bodytext h3{
  font-weight: normal;
}

    /* width taking into account margin */
.desktopmain {
    background-image: url("../images/bg-image/scooter.svg");
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: 50%;
}

/** -- Formatting Apply Box -- **/
.apply{
  border-radius: 25px;
  box-shadow: 5px 5px 25px 2px grey;
    /* margin set to 40% at the top for the scooter image */
  margin: 40% 5% 10% 5%;
  padding: 5%;
  background-color: white;
}

.apply h4{
  font-weight: normal;
}

  /* formatted inputs similarily */
.apply input[type=text]{
  width: 98%;
  height: 3em;
  margin-bottom: .5em;
  border-radius: 10px;
  border: none;
  background-color: #f7f7ff;
}

.apply input[type=email]{
  width: 98%;
  height: 3em;
  margin-bottom: .5em;
  border-radius: 10px;
  border: none;
  background-color: #f7f7ff;
}

.apply input[type=checkbox]{
  height: 25px;
  width: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label{
  font-size: 1.5rem; 
}

.apply button{
  background-color: #57eeab;
  width: 97%;
  border-radius: 10px;
  height: 2em;
  color: #333131;
  font-size: 2.25rem;
  font-weight: bold;
  border: none;
}

/*** ----------- Footer (Mobile) ----------- ***/

.site-footer{
  background-color: #fffd8c;
  padding: 5%;
}

.site-footer h4{
  font-weight: normal;
}

    /* input elements sized similarily */
input[id=hours]{
  width: 33%;
  height:2em;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
}

input[id=city]{
  width: 64%;
  height: 2em;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
}

.site-footer button{
  background-color: #ff8480;
  width: 98%;
  border-radius: 10px;
  height: 2em;
  color: #f7f7ff;
  font-size: 2.25rem;
  font-weight: bold;
  border: none;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

    /* used flex for icons, found it best for responsiveness */
.icons{
  color: #333131;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #fffd8c;
}

.icons img{
  width: 10%;
}

/**** -----------------------
        TABLET STYLES
------------------------- ****/

@media screen and (min-width: 760px){
  
  /*** ----------- Header (Tablet) ----------- ***/
  
    /* Resized logo for new dimensions */
  .logo{
    max-width: 260px;
  }

  /*** ----------- Main (Tablet) ----------- ***/
  
   /* reposition background picture for new dimensions */
  .desktopmain {
    background-position: center 40%;
  }   


  /*** ----------- Footer (Tablet) ----------- ***/

    /* used flex to line calculator inputs horizontally */
  .calc { 
     display: flex;
  }

    /* elements resized to fit horizontally during responsiveness */
  input[id=hours]{
    width: 19%;
    font-size: 2.25rem;
  }
  
  input[id=city]{
    width: 39%;
    font-size: 2.25rem;
  }
  
  .site-footer button{
    width: 36%;
  }

    /* reordered social media icons */
  .icons :nth-child(1){
    order: 1;
  }

  .icons :nth-child(2){
    order: 3;
  }

  .icons :nth-child(3){
    order: 2;
  }

  .icons :nth-child(4){
    order: 4;
  }

}

/**** -----------------------
        DESKTOP STYLES
------------------------- ****/

@media screen and (min-width: 1150px){

  /*** ----------- Main (Desktop) ----------- ***/

  .bodytext{
    width: 30%;
    vertical-align: middle;
  }

  .apply{
    /* resetting margin for new picture position */
    margin-top: 0%;
    margin-bottom: 5%;
    width: 30%;
  }

    /* using flex to space main body elements */
  .desktopmain{
    display: flex;
    justify-content: space-between;
  }

  /*** ----------- Footer (Desktop) ----------- ***/

    /* flex footer elements into place */
  .site-footer{
    display: flex;
    justify-content: space-between;
  }

  .footform{
    max-width: 60%;
  }

    /* resize social media icons for new position in flex */
  .icons img{
    width: 20%;
    padding-left: 3rem;
  }
} 